header {
  height: 425px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #f6b131;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");;
}