


.page-header {
  height: 425px;

  font-weight: 200;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #fba607;
  background-image: url("https://www.transparenttextures.com/patterns/soft-pad.png");
}

.page-header div h2 {

  font-weight: 300;
  color: #545149;
}

#first-name {
  font-weight: 700;
}