.new-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

#tweet-text {
  width: 100%;
  height: 40px;
  background-color: #f4f1ec;
  color: #545149;
  outline: none;
  border: none;
  border-bottom-style: solid;
  font-weight: 300;
  overflow-y: auto;
  resize: none;
}

.tweet-button {
  color: white;
  background-color: cornflowerblue;
  margin-right: auto;
  border-radius: 5px;
}

.tweet-button:hover {
  background-color: #fba607;
}

.tweet-button:active {
  /* background-color: #fb7d07; */
  box-shadow: 5px 5px rgb(136, 174, 247);
  transform: translateY(4px);
}

.tweet-bottom {
  font-family: 'Bungee', cursive;
  margin-top: .1em;
  margin-bottom: 2em;
  display: flex;
}
