.tweet-feed {
  background-color: #F4E2C1;
}


article {
  background-color: #f4f1ec;
  border-style: solid;
  margin-bottom: 1em;
  border-radius: 10px;
}

article:hover {
  box-shadow: 10px 10px 5px rgb(136, 174, 247);
  transition: box-shadow .2s ease-in-out;
}

article:hover .handle {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}


article header {
  width: 98%;
  margin: auto;
  padding: 1em;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f1ec;
}

.user-info {
  display: flex;
  align-items: center;
}

#user-avatar {
  margin-right: .5em;
}

.handle {
  color: cornflowerblue;
  display: flex;
  opacity: 0;
}


article section {
  width: 98%;
  font-weight: 700;
  padding: .5em;
  margin: auto;
  background-color: #f4f1ec;
  border-bottom-style: solid;
}

article footer {
  font-size: .7em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  padding: .5em;
  background-color: #f4f1ec;
}

#footer-buttons i {
  color: cornflowerblue;
  opacity: 0;
  margin-right: 1.5em;
}



article:hover #footer-buttons i {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}